.page-header{
    display: inline-flex;
    width: 100%;
}

.icon svg {
    font-size: 40px;
    margin-right: 10px;
    margin-top: 4px;
}

.title {
    font-size: 20px;
    font-weight: 500;
}
.desc {
    font-size: 13px;
}